#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 272px;
  margin-block: 32px;
  /* margin-left: 8px; */

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  padding: 8px 16px;
  outline: transparent;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#datetime-picker:not([disabled]):hover {
  border-color: #000;
}
#datetime-picker:focus {
  border-color: #4e75ff;
}
#datetime-picker:disabled {
  border-color: #808080;
  color: #808080;
  cursor: not-allowed;
}

button[data-start]:disabled {
  color: #989898;
  background-color: #cfcfcf;
  cursor: not-allowed;
}
button[data-start] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4e75ff;
  color: #fff;
  border: none;

  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
button[data-start]:not([disabled]):hover,
button[data-start]:not([disabled]):focus {
  background-color: #6c8cff;
}

.timer {
  display: flex;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
